@charset "utf-8";
/*global*/

/*header 영역*/
header{ width:100%; height:50px; position:fixed; z-index:9999;   background-color:#fad1e6;  }
header h1{width:40%; background:url(../images/logo.png) center no-repeat; background-size:contain; height:45px; display:inline-block; margin-left:5%; }
header h1 a{width:100%;  height:45px; display:inline-block; }
header h1 a img{width:100%; height:45px;}
header h2{width:12%; height:45px; display:inline-block;  float:right; margin-right:5%; }
header h2 figure{width:100%; height:45px;;  display:inline-block;}
header h2 figure a{width:100%; height:45px;; display:inline-block;}
header h2 figure a img{width:100%; height:45px;;}
header nav{width:120%; height:35px; overflow:scroll; background-color:#fff; z-index:8888; margin-bottom:15px;}
header nav ul{width:110%; height:100%; }
header nav ul li{width:12%; height:100%; float:left;}
header nav ul li a{width:100%; height:35px; display:inline-block; text-align:center; text-decoration:none; font-size:13px;line-height:35px; color:#000; }
/*============*/

/*메뉴클릭시 bar생성*/
header nav ul #click_bar{border-bottom:5px solid #c7166f; box-sizing:border-box;}
header nav ul #click_bar a{font-weight:bold; color:#c7166f;}
/*============*/

/*대배너 광고 영역(footeer 윗부분 공통/class="bigbanner")*/
.bigbanner{width:100%; height:230px; ; background-color:#000000; margin-bottom:10px;}
.bigbanner a{width:100%; height:100%;}
.bigbanner a img{width:100%; height:100%;}
/*=========*/






/*============================================================================================================================*/




/*section 영역 공통사항*/
section{width:100%; background-color:#fff; padding:19px 4%; box-sizing:border-box; margin-bottom:10px;}
section > h2{font-size:14px; font-weight:bold; margin-bottom:10px;}
section > h2 span a{float:right; font-size:10px; color:#686868; text-decoration:none;}
/*============*/

/*submenu_01*/
.submenu_01{width:100%; height:35px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_01 nav,.submenu_01 nav ul{width:100%; height:35px; background-color:#fff;}
.submenu_01 nav ul li{width:33%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_01 nav ul li:nth-child(2){width:34%; display:inline-block;}
/*============*/





/*(설정메뉴의 header class=header_02영역*/
.header_02{height:45px;}
.header_02 nav,.header_02 nav ul{width:100%; height:100%; background-color:#fad1e6; }
.header_02 nav ul li{width:12%; height:45px;}
.header_02 nav ul li:nth-child(1){margin-left:5%;}
.header_02 nav ul li:nth-child(2){width:66%; height:45px;}
.header_02 nav ul li:nth-child(3){margin-right:5%;}
.header_02 nav ul li h2{width:100%; height:45px;}
.header_02 nav ul li h2 figure{width:100%; height:45px;}
.header_02 nav ul li h2 figure img{width:100%; height:45px;}
.header_02 nav ul li h1{background:url(../images/logo.png) center no-repeat; background-size:contain; width:100%; margin-left:0; height:45px; color:#C7166F; font-size:18px; text-align:center; line-height:45px; font-weight:bold;}


/*submenu_02*/
.submenu_02{width:100%; height:70px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_02 nav,.submenu_02 nav ul{width:100%; height:70px; background-color:#fff;}
.submenu_02 nav ul li{width:33%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_02 nav ul li:nth-child(2),.submenu_02 nav ul li:nth-child(5){width:34%; display:inline-block;}
/*============*/

/*submenu_03*/
.submenu_03{width:100%; height:70px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_03 nav,.submenu_02 nav ul{width:100%; height:70px; background-color:#fff;}
.submenu_03 nav ul li{width:33%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_03 nav ul li:nth-child(2),.submenu_03 nav ul li:nth-child(5){width:34%; display:inline-block;}
/*============*/

/*submenu_04*/
.submenu_04{width:100%; height:70px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_04 nav,.submenu_04 nav ul{width:100%; height:70px; background-color:#fff;}
.submenu_04 nav ul li{width:33%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_04 nav ul li:nth-child(2),.submenu_04 nav ul li:nth-child(5){width:34%; display:inline-block;}
/*============*/

/*submenu_05*/
.submenu_05{width:100%; height:35px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_05 nav,.submenu_05 nav ul{width:100%; height:35px; background-color:#fff;}
.submenu_05 nav ul li{width:33%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_05 nav ul li:nth-child(2){width:34%; display:inline-block;}
/*============*/

/*submenu_06*/
.submenu_06{width:100%; height:165px; background-color:#ececec; margin-bottom:15px; font-size:14px; position:fixed; padding:0; padding-top:95px; z-index:8888;}
.submenu_06 nav,.submenu_06 nav ul{width:100%; height:70px; background-color:#fff;}
.submenu_06 nav ul li{width:50%; height:35px; float:left; text-align:center; line-height:35px; border:1px solid #ececec; box-sizing:border-box; }
.submenu_06 nav ul li a{width:100%; height:35px; display:inline-block; text-decoration:none; color:#000;}
/*============*/





/*광고01 영역*/
.ad_01{width:100%; height:150px; ; background-color:#000000; margin-bottom:10px;}
.ad_01 a{width:100%; height:100%;}
.ad_01 a img{width:100%; height:100%;}
/*=========*/


/*광고03 영역*/
.ad_03{width:100%; height:100px; ; background-color:#000000; margin-bottom:10px;}
.ad_03 a{width:100%; height:100%;}
.ad_03 a img{width:100%; height:100px;}
/*=========*/

/*광고04 영역*/
.ad_04{width:100%; height:190px; background-color:#000000; margin-bottom:10px;}
.ad_04 a{width:100%; height:100%;}
.ad_04 a img{width:100%; height:190px;}
/*=========*/

/*footer 영역*/
footer {width:100%; height:75px; background-color:#353840; color:#fff;
padding-top:20px; padding-bottom:20px; padding-right:3.5%; padding-left:4.5%;
color:#fff; box-sizing:border-box; font-size:11px; text-align:center; color:#c3c3c3;}
footer nav{margin-bottom:10px;}
footer nav ul,footer nav{width:100%; height:13px;}
footer nav ul li{width:26%; height:13px; float:left; text-align:center;}
footer nav ul li:nth-child(2n){width:24%;}
footer nav ul li a{display:inline-block; width:100%; height:13px;  border-right:1px solid #c3c3c3; }
footer nav ul li:last-child a{border-right:0;}
/*============*/


